<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<tr>
        <th>Year</th>
        <th>Month</th>
        <th>Day</th>
</tr>
<tbody>
<tr onclick = "gen(this)">
            <td>2000</td>
            <td>January</td>
            <td>25</td>
        </tr>

<tr onclick = "gen(this)">
            <td>2003</td>
            <td>February</td>
            <td>24</td>
        </tr>
</tbody>
  </table>
<script type="text/javascript" charSet="utf-8">
  function gen(e) {
    var year = e.getElementsByTagName("td")["0"].innerText
    var month = e.getElementsByTagName("td")["1"].innerText
    var date = e.getElementsByTagName("td")["2"].innerText

    var list = {
      year: year,
      month: month,
      date: date
    }

    fetch(`${window.origin}/print`, {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(list),
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
    })


  }
</script>
</body>
</html>