
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    CT
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Classifier
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-app"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="{% if 'datasets' in segment %} active {% endif %}">
                    <a href="/about.html">
                        <i class="tim-icons icon-single-02"></i>
                        <p>About</p>
                    </a>
                </li>
                <li class="{% if 'languagemodels' in segment %} active {% endif %}">
                    <a href="/contact.html">
                        <i class="tim-icons icon-atom"></i>
                        <p>Contact</p>
                    </a>
                </li>


            </ul>
        </div>
    </div>
