{% extends "layouts/base.html" %}

{% block title %} Intelligent Classifier {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="content">
 <div class="card">
        <div class="card-header text-center py-4">
            <h3 class="title">
                The IPC tool has been created in the context of a master thesis. </h3>
            <h3>For more details, you can contact:</h3>
            <h3>John Tsioumpris (<a href = "mailto: tsgiannis@gmail.com">tsgiannis@gmail.com</a>) - MSc student, implementing the IPC tool</h3>
            <h3> Kamateri (<a href = "mailto: ekamater@hotmail.com">ekamater@hotmail.com</a>) – PhD student, providing the specifications and the classifiers</h3>
            <h3>Prof. Salampasis (<a href = "mailto: msa@ihu.gr">msa@ihu.gr</a>) – Supervisor</h3>

Department of Information and Electronic Systems Engineering
International Hellenic University
Thessaloniki, Greece

            </h3>

        </div>

    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}