{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="card">
        <div class="card-header text-center py-4">
            <h3 class="title">
                Datasets
            </h3>
            <table class="table">
                <thead>
                <tr>
                    {% for key in datasets[0]%}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>


                </thead>
                <tbody>
                {% for item in datasets %}
                <tr>
                    {% for key in item%}
                    {% if 'link' in key %}
                    <td><a href={{ item[key] }} target="_blank">{{ item[key] }}</a></td>
                    {% else %}
                    <td>{{ item[key] }}</td>
                    {% endif %}

                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">

                    <div class="form-row col-md-6">
                        <div class="dropdown-toggle">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="inputState" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <span id="dropdown_title"> Selection of Dataset</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="Selection of Dataset">
      {% for item in datasets %}
    <a class="dropdown-item"  onclick="showGenre(this)" href="#">{{ item['name'] }}</a>
    {% endfor %}
  </div>
</div>
                    </div>
                </div>

            </form>

        </div>
    </div>



    <div class="card">
        <div class="card-header text-center py-4">
            <h3 class="title">
                Language Models
            </h3>
            <table class="table">
                <thead>
                <tr>
                    {% for key in language_models[0]%}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>


                </thead>
                <tbody>
                {% for item in language_models %}
                <tr>
                    {% for key in item%}
                    {% if 'link' in key %}
                    <td><a href={{ item[key] }} target="_blank">{{ item[key] }}</a></td>
                    {% else %}
                    <td>{{ item[key] }}</td>
                    {% endif %}

                    {% endfor %}
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">

                    <div class="form-row col-md-6">
                        <div class="dropdown-toggle">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="inputState_language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <span id="dropdown_title_language">Selection of Language Models</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="Selection of Language Models">
      {% for item in language_models %}
    <a class="dropdown-item"  onclick="showGenre(this)" href="#">{{ item['name'] }}</a>
    {% endfor %}
  </div>
</div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
    function showGenre(item) {
        console.log(item.innerHTML)
  document.getElementById("dropdown_title").innerHTML = item.innerHTML;
}
</script>

{% endblock javascripts %}
