<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Page with Sidebar</title>
<style>
    /* Style for the entire page */
    body {
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: Arial, sans-serif;
    }

    /* Style for the sidebar */
    .sidebar {
        width: 250px;
        background-color: #333;
        height: 100vh; /* Full height of the viewport */
        position: fixed;
        left: 0;
        top: 0;
    }

    /* Style for the container */
    .container {
        margin-left: 250px; /* Same as the width of the sidebar */
        padding: 20px;
    }

    /* Style for the sidebar links */
    .sidebar a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
    }

    /* Style for the sidebar links on hover */
    .sidebar a:hover {
        background-color: #555;
    }
    .custom-btn-size {
        font-size: 36px;
    }

    /* Custom background color for the modal content */
    .custom-modal-content {
        background-color: #fff666; /* Red color */
    }

    .toggle {
        cursor: pointer;
        display: inline-block;
    }


</style>
</head>
<body>

<!-- Sidebar -->
<div class="sidebar">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <!-- Add more links as needed -->
</div>

<!-- Container -->
<div class="container">
     <button id="inputComplete" class="btn btn-primary" onclick="completeUserInput()"
            style="position: fixed; top: 50px; right: 100px; display: none;">Input Complete
    </button>


    {
    <
    <div class="modal" id="keywords_checker" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modal-content" role="document">
            <div class="modal-content custom-modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Keywords Checker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Content for the modal -->
                    <p>You missed to enter Keywords</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="mb-4">Enter Keywords or Upload a File</h2>
        <div class="row">

            <form id="keywordForm">
                <div class="input-group-append">
                    <label for="keywords">Enter Keywords:</label>
                    <input  class="form-control align-middle" id="keywords" name="keywords"
                           placeholder="Type keywords here">

                    <button class="btn btn-outline-secondary align-middle wrap-text-btn" type="button"
                            onclick="keyword_processing()">Function<br>ality
                    </button>


                </div>

                <div class="form-group">
                    <label for="fileInput">Upload File:</label>
                    <input type="file" class="form-control-file" id="fileInput" name="fileInput" accept=".txt"
                           onchange='readFile(this)' class="hidden">
                </div>

                <button id="readFileBtn" onclick="showFileChooser()">Upload Keywords File</button>

            </form>
            <div class="col-md-6">
                <div id="wordTable">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Included keyWords</th>
                            <th>Excluded keyWords</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Add rows with good and bad words dynamically here -->
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <hr/>
    <!-- Modal -->
    <div class="modal" id="resultsToDisplay" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Results Selector</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <p>Please select No of Results to Display:</p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary mr-2">3</button>
                        <button type="button" class="btn btn-secondary mr-2">5</button>
                        <button type="button" class="btn btn-secondary mr-2">10</button>
                        <button type="button" class="btn btn-secondary mr-2">all</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr>
    <div id="compactview">


        <div class="container mt-4 text-center">
            <div class="row justify-content-center">
                <!-- ************************************ -->
                <!-- Machine Learning Methods -->
                <!-- Row 1 -->
                <div class="col-md-6">
                    <form id='form_compact_methods'>
                        <div class="form-group row align-items-center">
                            <label for="inputState_methods_compact"
                                   class="col-sm-4 col-form-label text-center bg-success font-weight-bold"
                                   style="height: 10%;">Machine Learning Methods</label>
                            <div class="col-md-8 h-80">

                                <div class="dropdown"     >
                                    <button id="selected_method" class="dropbtn" onclick="toggleDropdown(this)">Select a ML Method</button>
                                    <div class="dropdown-content">
                                        {% for item in session['methods'] %}
                                        {% if item['name'].lower() not in session['dynamic.methods'] %}
                                        <a href="#" data-value="{{ item['name'] }}" class="disabled">{{ item['name']
                                            }}</a>

                                        {% else %}
                                        <a href="#" data-value="{{ item['name'] }}" onclick="selectedOption(this)">{{
                                            item['name'] }}</a>
                                        {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="row justify-content-center">
                <!-- ************************************ -->
                <!-- Language Models -->
                <!-- Row 2 -->
                <div class="col-md-6">
                    <form id='form_compact_languagemodels'>
                        <div class="form-group row align-items-center">
                            <label for="inputState_languagemodels_compact"
                                   class="col-sm-4 col-form-label text-center bg-success font-weight-bold"
                                   style="height: 10%;">Language Models</label>
                            <div class="col-md-8 h-80">

                                <div class="dropdown_methods" >
                                    <button id="selected_languagemodel" class="dropbtn" onclick="toggleDropdown(this)">Select a Language Model</button>
                                    <div class="dropdown-content">
                                        {% for item in session['languagemodels'] %}
                                        {% if item['name'].lower() not in session['dynamic.languagemodels'] %}
                                        <a href="#" data-value="{{ item['name'] }}" class="disabled">{{
                                            item['display_name'] }}</a>

                                        {% else %}
                                        <a href="#" data-value="{{ item['name'] }}" onclick="selectedOption(this)">{{
                                            item['display_name'] }}</a>
                                        {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

            </div>


    </div>
</div>
</div>
</body>
<script>
    function handleToggleView() {
        var toggleview = document.getElementById('toggle-view');
        var compactview = document.getElementById('compactview');
        var fullview = document.getElementById('fullview');
        var toggleinfo = document.getElementById('toggleinfo');
        //fullview.style.display = 'none';

        toggleview.onchange = function () {
            if (toggleview.checked) {
                compactview.style.display = 'none';
                fullview.style.display = 'block';
                toggleinfo.innerHTML = "Full"
            } else {
                fullview.style.display = 'none';
                compactview.style.display = 'block';
                toggleinfo.innerHTML = "Compact"

            }
        };
    }


    // Hide the button initially
    document.getElementById('inputComplete').style.display = 'none';

    var selections = [];

    function showInputCompleteButton() {
        document.getElementById('inputComplete').style.display = 'block';
    }

    function hideInputCompleteButton() {
        document.getElementById('inputComplete').style.display = 'none';
    }

    function getFilteredOptions(item) {
        var selectedValue = item.value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/get_filtered_options', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                document.getElementById('sections_compact').innerHTML = xhr.responseText;
            }
        };
        xhr.send(JSON.stringify({selectedValue: selectedValue}));
    }

    function readFile(event) {
            var openFile = function(event) {
  var input = event.target;

  var reader = new FileReader();
  reader.onload = function() {
    var text = reader.result;
    var node = document.getElementById('output');
    node.innerText = text;
    console.log(reader.result.substring(0, 200));
  };
  reader.readAsText(input.files[0]);
};
        }







    function handleDropdownItemClick(item) {
        // Remove the 'active' class from all items
        var form = item.closest('form');

        if (form) {
            // Remove the 'active' class from all items within the form
            var dropdownItems = form.querySelectorAll('.dropdown-item');
            dropdownItems.forEach(function (item) {
                item.classList.remove('active');
            });

            // Add the 'active' class to the clicked item
            item.classList.add('active');
            var activeItemText = item.textContent;
            var value = activeItemText;
            // Get the text content of the active item
            if (item.getAttribute('value') !== null) {
                value = item.value.toLowerCase();
            }


            var key = item.parentElement.attributes.name.textContent
            if (key.indexOf('_compact') > 0) {
                key_for_collection = key.substring(0, key.indexOf('_compact'))
            } else
                key_for_collection = key

            addToCollection(selections, key_for_collection, value)
            document.getElementById('span_' + key).textContent = activeItemText
        } else {
            console.log('No form found.');
        }


    }

    function showResultsModal() {
        return new Promise(function (resolve, reject) {
            $('#resultsToDisplay').modal('show');

            // Event listener for the buttons in the modal
            $('#resultsToDisplay .btn').click(function () {
                var selectedOption = $(this).text().trim(); // Get the text of the clicked button
                $('#resultsToDisplay').modal('hide');
                console.log("Selected option:", selectedOption);
                resolve(selectedOption); // Resolve the promise with the selected option
            });

            // Close the modal after 5 seconds if no selection is made
            var timeoutId = setTimeout(function () {
                $('#resultsToDisplay').modal('hide');
                var defaultOption = '3';
                console.log("No selection made within 3 seconds. Resolving with default value:", defaultOption);
                resolve(defaultOption); // Resolve with default value after timeout
            }, 5000);
        });
    }

    function waitForKeywords(callback) {
        var intervalId = setInterval(function () {
            var keywords = document.getElementById('keywords').value.trim();
            if (keywords !== '') {
                clearInterval(intervalId); // Stop the interval
                callback(keywords); // Call the callback with the keywords
            }
        }, 1000); // Check every second
    }

    // Function to handle the completion of user input
    function completeUserInput() {
        hideInputCompleteButton(); // Hide the button
        hideKeywordsMissingModal(); // Hide any alert modal
        processSelections(); // Process the selections
    }



    // Function to check if keywords are already present
    function checkKeywordsPresence() {
        var keywords = document.getElementById('keywords').value.trim();
        return keywords !== '';
    }

    // Function to wait for the input complete button click
    function waitForInputComplete() {
        return new Promise(function (resolve) {
            document.getElementById('inputComplete').addEventListener('click', function () {
                var keywords = document.getElementById('keywords').value.trim();
                resolve(keywords);
            });
        });
    }



function selectedOption(item) {
    var div = item.parentNode;
    var button = item.parentNode.parentNode.querySelector('button');
    var elementid = button.getAttribute('id');
    var selectedValue = item.getAttribute('data-value');
    var keywordsInput = document.getElementById('keywords');

    // Preserve existing content and append the selected option
    keywordsInput.value += ' ' + selectedValue;

    // Update the text of the button
    button.innerText = selectedValue;

    // Remove the 'hovered' class from the dropdown
    div.classList.remove('hovered');
}
function showFileChooser() {
    var fileInput = document.getElementById('fileInput');
    fileInput.click();
}


function readFile(input) {
    var file = input.files[0];
    var reader = new FileReader();

    reader.onload = function(event) {
        var content = event.target.result;
        var lines = content.split('\n');
        var keywords_display = lines.join(' ');
        document.getElementById('keywords').value = keywords_display;



    };

    reader.readAsText(file);
}

function toggleDropdownHover(isHovered) {
    //var elm = isHovered.getAttribute('id')
     if (isHovered) {
        isHovered.classList.add('hovered');
    } else {
        isHovered.classList.remove('hovered');
    }
}
// Function to toggle dropdown content visibility
function toggleDropdown(button) {
   var dropdownContent = button.nextElementSibling;
    dropdownContent.classList.toggle('show'); // Toggle visibility

    // Stop the default action of the click event
    event.preventDefault();
    event.stopPropagation();

    // Stop event propagation when clicking inside the dropdown content
    dropdownContent.addEventListener('click', function(event) {
        event.stopPropagation(); // Prevent event from propagating further
    });
}

</script>

</html>
