{% extends "layouts/base.html" %}

{% block title %} Intelligent Classifier {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style xmlns="http://www.w3.org/1999/html">
    .custom-btn-size {
        font-size: 36px;
    }

    /* Custom background color for the modal content */
    .custom-modal-content {
        background-color: #fff666; /* Red color */
    }

    .toggle {
        cursor: pointer;
        display: inline-block;
    }

    .toggle-switch {
        display: inline-block;
        background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
        border-radius: 16px;
        width: 58px;
        height: 32px;
        position: relative;
        vertical-align: middle;
        transition: background 0.25s;
    }

    .toggle-switch:before, .toggle-switch:after {
        content: "";
    }

    .toggle-switch:before {
        display: block;
        background: linear-gradient(to top, #09203f 0%, #537895 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0.25, 0, 0.25);
        width: 24px;
        height: 24px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: left 0.25s;
    }

    .toggle:hover .toggle-switch:before {
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    }

    .toggle-checkbox:checked + .toggle-switch {
        background: linear-gradient(179.1deg, rgb(43, 170, 96) 2.3%, rgb(129, 204, 104) 98.3%);
    }

    .toggle-checkbox:checked + .toggle-switch:before {
        left: 30px;
    }

    .toggle-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .toggle-label {
        margin-left: 5px;
        position: relative;
        top: 2px;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(255, 230, 255, 0.2);
    }

    .wrap-text-btn {
        white-space: normal;
    }

    .meaningful-word {
        color: green !important;
    }

    .meaningless-word {
        color: red;
    }

    .custom-dropdown {
        width: 90%;
    }

    a.disabled {
        pointer-events: none;
    }

    .custom-margin {
        margin-right: 5px; /* Adjust the value as needed */
    }

    .btn-custom {
        display: flex;
        width: 96%;


    }


</style>


{% endblock stylesheets %}

{% block content %}

<div class="content">
    <!-- Button to remind the user to input keywords -->
    <!-- Button to mark the end of user input -->
    <button id="inputComplete" class="btn btn-primary" onclick="completeUserInput()"
            style="position: fixed; top: 50px; right: 100px; display: none;">Input Complete
    </button>

    <div>
        <ul class="ml-auto">
            <li class="input-group d-flex align-items-center mb-0">
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox" id="toggle-view">
                    <div class="toggle-switch"></div>
                    <span class="toggle-label" id="toggleinfo">Compact</span>
                </label>
            </li>
        </ul>
    </div>
    {% if selected_option %}
    <div class="alert alert-success" role="alert">
        {{ selected_option }}
    </div>
    {% endif %}
    <div class="modal" id="selections_checker" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modal-content" role="document">
            <div class="modal-content custom-modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Selection Checker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Content for the modal -->
                    <p>You missed to select all the options</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="keywords_checker" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modal-content" role="document">
            <div class="modal-content custom-modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Keywords Checker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Content for the modal -->
                    <p>You missed to enter Keywords</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="mb-4">Enter Keywords or Upload a File</h2>
        <div class="row">

            <form id="keywordForm" onsubmit="submitForm(event)">
                <div class="input-group-append">
                    <label for="keywords">Enter Keywords:</label>
                    <input type="text" class="form-control align-middle" id="keywords" name="keywords"
                           placeholder="Type keywords here">

                    <button class="btn btn-outline-secondary align-middle wrap-text-btn" type="button"
                            onclick="keyword_processing()">Function<br>ality
                    </button>


                </div>

                <div class="form-group">
                    <label for="fileInput">Upload File:</label>
                    <input type="file" class="form-control-file" id="fileInput" name="fileInput" accept=".txt">
                </div>

                <button type="submit" onclick="readFile()" class="btn btn-primary">Upload</button>
            </form>
            <div class="col-md-6">
                <div id="wordTable">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Included keyWords</th>
                            <th>Excluded keyWords</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Add rows with good and bad words dynamically here -->
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <hr/>
    <!-- Modal -->
    <div class="modal" id="resultsToDisplay" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Results Selector</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <p>Please select No of Results to Display:</p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary mr-2">3</button>
                        <button type="button" class="btn btn-secondary mr-2">5</button>
                        <button type="button" class="btn btn-secondary mr-2">10</button>
                        <button type="button" class="btn btn-secondary mr-2">all</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr>
    <!-- **** FULL VIEW START -->
    <div id="fullview">
        <div class="card">
            <div class="card-header text-center py-4">
                <h3 class="title">
                    Datasets
                </h3>
                <table class="table">
                    <thead>
                    <tr>
                        {% for key in session['datasets'][0]%}
                        <th>{{ key }}</th>
                        {% endfor %}
                    </tr>


                    </thead>
                    <tbody>
                    {% for item in session['datasets'] %}
                    <tr>
                        {% for key in item%}
                        {% if 'link' in key %}
                        <td><a href={{ item[key] }} target="_blank">{{ item[key] }}</a></td>
                        {% else %}
                        <td>{{ item[key] }}</td>
                        {% endif %}

                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-body">
                <form id="form_datasets">  <!--   method="POST" action="{{ url_for('home_blueprint.routename') }}">-->
                    <div class="form-row">

                        <div class="form-row col-md-6">
                            <div class="dropdown-toggle">
                                <button class="btn btn-secondary dropdown-toggle" type="submit" id="btnDatasets"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="span_datasets"> Selection of Dataset</span>
                                </button>
                                <div name='datasets' class="dropdown-menu" aria-labelledby="Selection of Dataset">
                                    {% for item in session['datasets'] %}
                                    <a class="dropdown-item" onclick="handleDropdownItemClick(this)"
                                       data-value="{{item['name']}}"
                                       href="#">{{ item['name'] }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>


        <div class="card">
            <div class="card-header text-center py-4">
                <h3 class="title">
                    Language Models
                </h3>
                <table class="table">
                    <thead>
                    <tr>
                        {% for key in session['languagemodels'][0]%}
                        <th>{{ key }}</th>
                        {% endfor %}
                    </tr>


                    </thead>
                    <tbody>
                    {% for item in session['languagemodels'] %}
                    <tr>
                        {% for key in item%}
                        {% if 'link' in key %}
                        <td><a href={{ item[key] }} target="_blank">{{ item[key] }}</a></td>
                        {% else %}
                        <td>{{ item[key] }}</td>
                        {% endif %}

                        {% endfor %}
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="card-body">
                <form id="form_language_models">
                    <div class="form-row">

                        <div class="form-row col-md-6">
                            <div class="dropdown-toggle">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="inputState_language"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="span_language_models">Selection of Language Models</span>
                                </button>
                                <div name='language_models' class="dropdown-menu"
                                     aria-labelledby="Selection of Language Models">
                                    {% for item in session['languagemodels'] %}
                                    <a class="dropdown-item" onclick="handleDropdownItemClick(this)" href="#">{{
                                        item['name'] }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <div class="card">
            <div class="card-header text-center py-4">
                <h3 class="title">
                    Deep Learning Classifiers
                </h3>
                <table class="table">
                    <thead>
                    <tr>
                        {% for key in session['methods'][0]%}
                        <th>{{ key }}</th>
                        {% endfor %}
                    </tr>


                    </thead>
                    <tbody>
                    {% for item in session['methods'] %}
                    <tr>
                        {% for key in item%}
                        {% if 'link' in key %}
                        <td><a href={{ item[key] }} target="_blank">{{ item[key] }}</a></td>
                        {% else %}
                        <td>{{ item[key] }}</td>
                        {% endif %}

                        {% endfor %}
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="card-body">
                <form id='form_deep_learning_classifiers'>
                    <div class="form-row">

                        <div class="form-row col-md-6">
                            <form id='form_methods'>
                                <div class="dropdown-toggle">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="inputState_deeplearning"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span id="span_methods" data-default="Selection of Deep Learning Classifier">Selection of Deep Learning Classifier</span>
                                    </button>
                                    <div name='deep_learning' class="dropdown-menu"
                                         aria-labelledby="Selection of Language Models">
                                        {% for item in session['methods'] %}
                                        {% if item['name'].lower() not in session['dynamic.methods'] %}
                                        <button class="dropdown-item" disabled>{{ item['name'] }}</button>
                                        {% else %}
                                        <button class="dropdown-item"
                                                onclick="handleDropdownItemClick(this)">{{ item['name'] }}</button>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </form>

            </div>
        </div>


    </div>
    <!-- **** FULL VIEW END ********* -->


    <!-- **** COMPACT VIEW START *****  -->
    <div id="compactview">


        <div class="container mt-4 text-center">
            <div class="row justify-content-center">
                <!-- ************************************ -->
                <!-- Machine Learning Methods -->
                <!-- Row 1 -->
                <div class="col-md-6">
                    <form id='form_compact_methods'>
                        <div class="form-group row align-items-center">
                            <label for="inputState_methods_compact"
                                   class="col-sm-4 col-form-label text-center bg-success font-weight-bold"
                                   style="height: 10%;">Machine Learning Methods</label>
                            <div class="col-md-8 h-80">

                                <div class="dropdown-toggle">
                                    <button class="btn btn-secondary dropdown-toggle custom-dropdown btn-custom"
                                            type="button"
                                            id="inputState_methods_compact"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span id="span_methods_compact">Selection of ML Methods</span>
                                    </button>
                                    <div name='methods_compact' class="dropdown-menu"
                                         aria-labelledby="Selection of Language Models">
                                        {% for item in session['methods'] %}
                                        {% if item['name'].lower() not in session['dynamic.methods'] %}
                                        <button class="dropdown-item" disabled>{{ item['name'] }}</button>
                                        {% else %}
                                        <button class="dropdown-item"
                                                onclick="handleDropdownItemClick(this)">{{ item['name'] }}</button>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- ************************************ -->

            <div class="row mt-2 justify-content-center">
                <!-- Row 2 -->
                <!-- Language Models -->
                <div class="col-md-6">
                    <form id='form_compact_languagemodels'>
                        <div class="form-group row align-items-center">
                            <label for="inputState_language_compact"
                                   class="col-sm-4 col-form-label text-center bg-primary font-weight-bold"
                                   style="height: 16%;">Language Models</label>
                            <div class="col-md-8 h-80">
                                <div class="dropdown-toggle">
                                    <button class="btn btn-secondary dropdown-toggle custom-dropdown btn-custom"
                                            type="button"
                                            id="inputState_language_compact"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span id="span_language_models_compact">Selection of Language Models</span>
                                    </button>
                                    <div name='language_models_compact' class="dropdown-menu"
                                         aria-labelledby="Selection of Language Models">
                                        {% for item in session['languagemodels'] %}
                                        {% if item['name'].lower() not in session['dynamic.languagemodels'] %}
                                        <button class="dropdown-item" disabled>{{ item['display_name'] }}</button>
                                        {% else %}
                                        <button class="dropdown-item" value="{{item['name']}}"
                                                onclick="handleDropdownItemClick(this)">{{ item['display_name'] }}</button>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- ************************************ -->
            <div class="container mt-4 text-center">
                <!-- Row 3 datasets/sections -->
                <div class="row justify-content-center">
                    <div class="col-md-8"> <!-- Adjust the width of the column as needed -->
                        <form id='form_compact_datasets'>
                            <div class="form-group row">
                                <label for="inputState_datasets_compact"
                                       class="col-sm-4 col-form-label text-center bg-success font-weight-bold ">Datasets/Sections</label>
                                <div class="col-md-8">

                                    <div class="d-flex"> <!-- Use flex utilities for alignment -->
                                        <div class="dropdown-toggle "> <!-- Added custom-margin and mr-2 classes -->
                                            <button class="btn btn-secondary dropdown-toggle custom-dropdown btn-custom"
                                                    type="button"
                                                    id="inputState_datasets_compact"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span id="span_datasets_compact">Selection of Datasets</span>
                                            </button>
                                            <div name='datasets_compact' class="dropdown-menu"
                                                 aria-labelledby="Selection of Datasets">
                                                {% for item in session['datasets'] %}
                                                {% if item['name'].lower() not in session['dynamic.datasets'] %}
                                                <button class="dropdown-item"
                                                        disabled>{{ item['display_name'] }}</button>
                                                {% else %}
                                                <button class="dropdown-item" value="{{item['name']}}"
                                                        onclick="handleDropdownItemClick(this);getFilteredOptions(this)">{{ item['display_name'] }}</button>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="dropdown-toggle "> <!-- Added custom-margin class -->
                                            <button class="btn btn-secondary dropdown-toggle custom-dropdown btn-custom"
                                                    type="button"
                                                    id="inputState_sections_compact"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span id="span_sections_compact">Selection of Patent Sections</span>
                                            </button>
                                            <div name='sections_compact' id='sections_compact' class="dropdown-menu"
                                                 aria-labelledby="Selection of Sections Per Dataset">
                                                {% for item in session['sections'] %}
                                                {% if item.lower() not in session['dynamic.sections'] %}
                                                <button class="dropdown-item" disabled>{{ item }}</button>
                                                {% else %}
                                                <button class="dropdown-item"
                                                        onclick="handleDropdownItemClick(this)">{{ item }}</button>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-2 justify-content-center">
            <!-- Row 4 -->
            <!-- IPC Levels -->
            <div class="col-md-6">
                <form id='form_compact_ipclevels'>
                    <div class="form-group row align-items-center">
                        <label for="inputState_ipclevels_compact"
                               class="col-sm-4 col-form-label text-center bg-info font-weight-bold"
                               style="height: 16%;">IPC Levels</label>
                        <div class="col-md-8 h-80">
                            <div class="dropdown-toggle">
                                <button class="btn btn-secondary dropdown-toggle custom-dropdown btn-custom"
                                        type="button"
                                        id="inputState_ipclevels_compact"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="span_ipclevels_compact">Selection of IPC Levels</span>
                                </button>
                                <div name='ipclevels_compact' class="dropdown-menu"
                                     aria-labelledby="Selection of IPC levels">
                                    {% for item in session['ipclevels'] %}
                                    {% if item['name'].lower() not in session['dynamic.ipclevels'] %}
                                    <button class="dropdown-item" disabled>{{ item['name'] }}</button>
                                    {% else %}
                                    <button class="dropdown-item" value="{{item['name']}}"
                                            onclick="handleDropdownItemClick(this)">{{ item['display_name'] }}</button>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="row mt-2 justify-content-center">
            <!-- ************************************ -->
            <!-- Νο Of Words -->
            <!-- Row 6 -->
            <div class="col-md-6">
                <form id='form_compact_noofwords'>
                    <div class="form-group row align-items-center">
                        <label for="inputState_noofwords_compact"
                               class="col-sm-4 col-form-label text-center bg-info font-weight-bold"
                               style="height: 16%;">Number of Words</label>
                        <div class="col-md-8 h-80">
                            <div class="dropdown-toggle">
                                <button class="btn btn-secondary dropdown-toggle custom-dropdown btn-custom"
                                        type="button"
                                        id="inputState_noofwords_compact"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="span_noofwords_compact">Selection of Number Of words</span>
                                </button>
                                <div name='noofwords_compact' class="dropdown-menu"
                                     aria-labelledby="Selection of Number of Words">
                                    {% for item in session['noofwords'] %}
                                    {% if item['value'] not in session['dynamic.noofwords'] %}
                                    <button class="dropdown-item" disabled>{{ item['value'] }}</button>
                                    {% else %}
                                    <button class="dropdown-item" value="{{item['value']}}"
                                            onclick="handleDropdownItemClick(this)">{{ item['value'] }}</button>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <!-- ************************************ -->
            <!-- Single / Multi label -->
            <!-- Row 7 -->
            <div class="col-md-6">
                <form id='form_compact_singlemulti'>
                    <div class="form-group row align-items-center">
                        <label for="inputState_singlemulti_compact"
                               class="col-sm-4 col-form-label text-center bg-info font-weight-bold"
                               style="height: 16%;">Single / Multi</label>
                        <div class="col-md-8 h-80">
                            <div class="dropdown-toggle">
                                <button class="btn btn-secondary dropdown-toggle custom-dropdown btn-custom"
                                        type="button"
                                        id="inputState_singlemulti_compact"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="span_singlemulti_compact">Selection of Single/Multi</span>
                                </button>
                                <div name='singlemulti_compact' class="dropdown-menu"
                                     aria-labelledby="Selection of Single / Multi">
                                    {% for item in session['singlemulti'] %}
                                    {% if item['name'].lower() not in session['dynamic.singlemulti'] %}
                                    <button class="dropdown-item" disabled>{{ item['name'] }}</button>
                                    {% else %}
                                    <button class="dropdown-item"
                                            onclick="handleDropdownItemClick(this)">{{ item['name'] }}</button>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <!-- ************************************ -->
            <!-- Structure -->
            <!-- Row 8 -->
            <div class="col-md-6">
                <form id='form_compact_structure'>
                    <div class="form-group row align-items-center">
                        <label for="inputState_structure_compact"
                               class="col-sm-4 col-form-label text-center bg-info font-weight-bold"
                               style="height: 16%;">Structure</label>
                        <div class="col-md-8 h-80">
                            <div class="dropdown-toggle">
                                <button class="btn btn-secondary dropdown-toggle custom-dropdown btn-custom"
                                        type="button"
                                        id="inputState_structure_compact"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="span_structure_compact">Selection of Structure</span>
                                </button>
                                <div name='structure_compact' class="dropdown-menu"
                                     aria-labelledby="Selection of Structure">
                                    {% for item in session['structures'] %}
                                    {% if item['name'].lower() not in session['dynamic.structures'] %}
                                    <button class="dropdown-item" disabled>{{ item['name'] }}</button>
                                    {% else %}
                                    <button class="dropdown-item"
                                            onclick="handleDropdownItemClick(this)">{{ item['name'] }}</button>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="row mt-2 justify-content-center">
            <!-- ************************************ -->
            <!-- Ensemble -->

            <!-- Row 9 -->
            <div class="col-md-6">
                <form id='form_compact_ensemble'>
                    <div class="form-group row">
                        <label for="ensemble_compact"
                               class="col-sm-4 col-form-label text-center bg-danger font-weight-bold">Ensemble</label>
                        <div class="col-md-8 h-80">
                            <div class="dropdown-toggle">
                                <button class="btn btn-secondary dropdown-toggle custom-dropdown btn-custom"
                                        type="button"
                                        id="ensemble_compact"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="span_ensemble_compact">Selection of Ensemble</span>
                                </button>
                                <div name='ensemble_compact' class="dropdown-menu"
                                     aria-labelledby="Selection of Ensemble">
                                    {% for item in session['ensemble'] %}
                                    {% if item['name'].lower() not in session['dynamic.ensemble'] %}
                                    <button class="dropdown-item" disabled>{{ item['name'] }}</button>
                                    {% else %}
                                    <button class="dropdown-item"
                                            onclick="handleDropdownItemClick(this)">{{ item['name'] }}</button>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- *****  COMPACT VIEW END  ******  -->  -->
</div>
<hr/>
<form id="runForm" method="POST" action="{{ url_for('home_blueprint.routename') }}">
    <!-- Include any form fields as needed -->

    <!-- Fancy RUN button inside the form -->
    <button type="button" class="btn btn-success  btn-lg btn-block custom-btn-size" onclick="CheckNRun()" type="submit">
        RUN
    </button>
</form>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    // Hide the button initially
    document.getElementById('inputComplete').style.display = 'none';

    var selections = [];

    function showInputCompleteButton() {
        document.getElementById('inputComplete').style.display = 'block';
    }

    function hideInputCompleteButton() {
        document.getElementById('inputComplete').style.display = 'none';
    }

    function getFilteredOptions(item) {
        var selectedValue = item.value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/get_filtered_options', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                document.getElementById('sections_compact').innerHTML = xhr.responseText;
            }
        };
        xhr.send(JSON.stringify({selectedValue: selectedValue}));
    }

    function readFile() {
        // Create a file input element
        var fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.accept = '.txt';

        // Trigger a click on the file input
        fileInput.click();

        // Listen for the change event on the file input
        fileInput.addEventListener('change', function () {
            // Check if a file is selected
            if (fileInput.files.length > 0) {
                var file = fileInput.files[0];
                var reader = new FileReader();

                // Define the callback function when file reading is complete
                reader.onload = function (e) {
                    // Display the content in the keywords input
                    var lines = e.target.result.split('\n')
                        .filter(function (line) {
                            return line.trim() !== '';  // Trim and check if not empty
                        })
                        .slice(0, 60);

                    // Combine the lines into a single string with space delimiters
                    var content = lines.join(' ');

                    // Display in the keywords input
                    var keywordsInput = document.getElementById('keywords');
                    keywordsInput.value = content;
                };

                // Read the file as text
                reader.readAsText(file);
            } else {
                alert('Please select a file.');
            }
        });

        // Append the file input to the document body
        document.body.appendChild(fileInput);
    }

    function addToCollection(collection, key, value) {
        // Check if the key already exists in the collection
        for (var i = 0; i < collection.length; i++) {
            var pair = collection[i];
            if (key in pair) {
                // Update the existing value for the key
                pair[key] = value;
                return;  // Exit the function after updating
            }
        }

        // If the key doesn't exist, add a new key-value pair
        if (collection.length < 3) {
            var newPair = {};
            newPair[key] = value;
            collection.push(newPair);
        } else {
            console.log('Collection already has 3 pairs. Cannot add more.');
        }
    }

    // Function to add a new key-value pair to the collection
    // Example usage
    //addToCollection(myCollection, 'key4', 'value4'); // Will not be added due to the limit
    //    $('.dropdown-item').on('click', function () {
    //            var selectedValuex = $(this).data('value');
    //            $('#form_datasets').append('<input type="hidden" name="selected_option" value="' + selectedValuex + '">');
    //        });
    function showGenre(item) {
        document.querySelectorAll('form').forEach(function (form) {
            form.querySelectorAll('.dropdown-item.active').forEach(function (item) {
                var value = item.getAttribute('data-value');
                var key = item.parentElement.attributes('name')
                addToCollection(selections, key, value)
            })
        })
    }

    function handleDropdownItemClick(item) {
        // Remove the 'active' class from all items
        var form = item.closest('form');

        if (form) {
            // Remove the 'active' class from all items within the form
            var dropdownItems = form.querySelectorAll('.dropdown-item');
            dropdownItems.forEach(function (item) {
                item.classList.remove('active');
            });

            // Add the 'active' class to the clicked item
            item.classList.add('active');

            // Get the text content of the active item
            var activeItemText = item.textContent;
            var value = activeItemText;
            var key = item.parentElement.attributes.name.textContent
            if (key.indexOf('_compact') > 0) {
                key_for_collection = key.substring(0, key.indexOf('_compact'))
            } else
                key_for_collection = key

            addToCollection(selections, key_for_collection, value)
            document.getElementById('span_' + key).textContent = value
            //var parent_name = item.parentNode.getAttribute('name');
            //if (parent_name.indexOf('compact')) {
            //document.getElementById('span_' + key+'_compact').textContent = value
            //}
            //else
            //{
            //document.getElementById('span_' + key).textContent = value
            //}
        } else {
            console.log('No form found.');
        }


    }    //console.log(item.innerHTML,'111')
    //var selectedValue = item.innerHTML;

    //console.log(selectedValue+'!')

    function showResultsModal() {
        return new Promise(function (resolve, reject) {
            $('#resultsToDisplay').modal('show');

            // Event listener for the buttons in the modal
            $('#resultsToDisplay .btn').click(function () {
                var selectedOption = $(this).text().trim(); // Get the text of the clicked button
                $('#resultsToDisplay').modal('hide');
                console.log("Selected option:", selectedOption);
                resolve(selectedOption); // Resolve the promise with the selected option
            });

            // Close the modal after 5 seconds if no selection is made
            var timeoutId = setTimeout(function () {
                $('#resultsToDisplay').modal('hide');
                var defaultOption = '3';
                console.log("No selection made within 3 seconds. Resolving with default value:", defaultOption);
                resolve(defaultOption); // Resolve with default value after timeout
            }, 5000);
        });
    }

    function waitForKeywords(callback) {
        var intervalId = setInterval(function () {
            var keywords = document.getElementById('keywords').value.trim();
            if (keywords !== '') {
                clearInterval(intervalId); // Stop the interval
                callback(keywords); // Call the callback with the keywords
            }
        }, 1000); // Check every second
    }

    // Function to handle the completion of user input
    function completeUserInput() {
        hideInputCompleteButton(); // Hide the button
        hideKeywordsMissingModal(); // Hide any alert modal
        processSelections(); // Process the selections
    }

    // Function to show the alert modal for missing keywords
    function showAlertModal() {
        // Show your alert modal implementation here
    }

    // Function to hide the alert modal
    function hideAlertModal() {
        // Hide your alert modal implementation here
    }

    function hideKeywordsMissingModal() {
        // Hide your alert modal implementation here
    }

    // Function to display the modal and obtain the selected option
    async function showResultsModals() {
        const selectedOption = await showResultsModal();
        return selectedOption;
    }


    function processSelections(keywords) {
        // Create JSON string
        var selections = [];
        var keywordObj = {keywords: keywords};
        selections.push(keywordObj);
        var jsonString = JSON.stringify(selections, null, 0);

        // Create hidden input
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'selections');
        hiddenInput.setAttribute('value', jsonString);
        hiddenInput.setAttribute('input_type', 'search');
        document.getElementById('runForm').appendChild(hiddenInput);

        // Other actions using keywords
        //var fileInput = document.getElementById('fileInput');
        //if (fileInput.files.length > 0) {
          //  var file = fileInput.files[0];
            //readFile(file);
        //} else {
            // No file uploaded
          //  alert('Please upload a file.');
        //}
    }

    // Function to check if keywords are already present
    function checkKeywordsPresence() {
        var keywords = document.getElementById('keywords').value.trim();
        return keywords !== '';
    }

    // Function to wait for the input complete button click
    function waitForInputComplete() {
        return new Promise(function (resolve) {
            document.getElementById('inputComplete').addEventListener('click', function () {
                var keywords = document.getElementById('keywords').value.trim();
                resolve(keywords);
            });
        });
    }

    function CheckNRun() {
        if (selections.length < 3) {

            showAlertModal();
        } else {
            // Call showResultsModals and obtain the selected option
            showResultsModals().then(function (selectedOption) {
                const resultstodisplay = selectedOption;
                console.log("Selected option assigned to variable:", resultstodisplay);
                // Pass someSelection to another function or use it as needed

                // Check if keywords are already present
                if (checkKeywordsPresence()) {
                    // If keywords are already present, process selections directly
                    processSelections(document.getElementById('keywords').value.trim());
                    document.getElementById('runForm').submit();
                } else {
                    showKeyWordsMissingModal(); // Show alert modal for missing keywords
                    showInputCompleteButton();
                    // If keywords are not already present, wait for user input
                    // Call waitForInputComplete to wait for the input complete button click
                    waitForInputComplete().then(function (keywords) {
                        // Continue processing after the button click
                        console.log('Input complete button clicked with keywords:', keywords);
                        processSelections(keywords);
                        document.getElementById('runForm').submit();
                    });
                }



            });
        }
    }

    function completeUserInput() {
        var keywords = document.getElementById('keywords').value.trim();
        processSelections(keywords);
    }

    function showAlertModal() {
        $('#selections_checker').modal('show');

        // Close the modal after 2 seconds
        setTimeout(function () {
            $('#selections_checker').modal('hide');
        }, 3000);
    }

    function showKeyWordsMissingModal() {
        $('#keywords_checker').modal('show');
        // Close the modal after 2 seconds
        setTimeout(function () {
            $('#keywords_checker').modal('hide');
        }, 3000);
    }

    // Iterate over all forms on the page
    // document.querySelectorAll('form').forEach(function(form) {
    //     // Iterate over all dropdown-items within the form
    //     form.querySelectorAll('.dropdown-item.active').forEach(function(item) {
    //         // Access the value of each active dropdown-item
    //         var value = item.getAttribute('data-value');
    //         console.log('Form:', form, 'Dropdown Item Value:', value);
    //         // Do something with the value, such as adding it to an array or processing it further
    //     });
    // });
    var toggleview = document.getElementById('toggle-view');
    var compactview = document.getElementById('compactview');
    var fullview = document.getElementById('fullview');
    var toggleinfo = document.getElementById('toggleinfo');
    fullview.style.display = 'none';

    toggleview.onchange = function () {
        if (toggleview.checked) {
            compactview.style.display = 'none';
            fullview.style.display = 'block';
            toggleinfo.innerHTML = "Full"
        } else {
            fullview.style.display = 'none';
            compactview.style.display = 'block';
            toggleinfo.innerHTML = "Compact"

        }
    };

    // Assume this is triggered by some user action or event
    function keyword_processing() {
        var keywords = document.getElementById('keywords').value
        fetch('/api/keyword_processing', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({keywords}),
        })
            .then(response => response.json())
            .then(data => {
                updateTableRows(data['meaningful'], data['meaningless']);
                // Do something with the response from the Python function
            })
            .catch(error => console.error('Error:', error));
    }


    function updateTableRows(meaningful, meaningless) {
        const tableBody = document.querySelector('#wordTable tbody');

        // Clear existing rows
        tableBody.innerHTML = '';
        const maxRows = Math.max(meaningful.length, meaningless.length);
        // Add new rows based on 'meaningful' and 'meaningless' words
        for (let i = 0; i < maxRows; i++) {
            const row = tableBody.insertRow();
            row.style.cssText = '';

            // Insert cell for 'meaningful' words in the first column
            const cellMeaningful = row.insertCell(0);
            if (i < meaningful.length) {
                cellMeaningful.textContent = meaningful[i];
                cellMeaningful.style.cssText = '';
                cellMeaningful.classList.add('meaningful-word');
            }

            // Insert cell for 'meaningless' words in the second column
            const cellMeaningless = row.insertCell(1);
            if (i < meaningless.length) {
                cellMeaningless.textContent = meaningless[i];
                cellMeaningless.classList.add('meaningless-word');
            }
        }
    }

</script>


{% endblock javascripts %}